.main{
  max-width: 800px;
  margin-inline: auto;
  padding: 10px;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
}

@media (max-width: 600px) {
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
  }
}